langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-openai
langchain-google-genai

fastapi
uvicorn

python-dotenv
boto3
pydantic
pydantic-settings
pinecone
cohere
langchain-cohere

# Testing
pytest
